---
import { url } from '../utils/url';
interface Props {
  href?: string;
}
const { href = '/' } = Astro.props;
---
<a href={url(href)} class="logo">
  <img src="/logo.png" alt="Fiduciary Alliance" style="height:40px;width:auto;display:block;" />
</a>
